<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTablaParametroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTablaParametroLabel_id}" for="id" />
                    <h:inputText id="id" value="#{tablaParametroController.selected.id}" title="#{bundle.CreateTablaParametroTitle_id}" required="true" requiredMessage="#{bundle.CreateTablaParametroRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateTablaParametroLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tablaParametroController.selected.nombre}" title="#{bundle.CreateTablaParametroTitle_nombre}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tablaParametroController.create}" value="#{bundle.CreateTablaParametroSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tablaParametroController.prepareList}" value="#{bundle.CreateTablaParametroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTablaParametroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
