<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTablaParametroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTablaParametroEmpty}" rendered="#{tablaParametroController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tablaParametroController.items.rowCount > 0}">
                    <h:outputText value="#{tablaParametroController.pagination.pageFirstItem + 1}..#{tablaParametroController.pagination.pageLastItem + 1}/#{tablaParametroController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tablaParametroController.previous}" value="#{bundle.Previous} #{tablaParametroController.pagination.pageSize}" rendered="#{tablaParametroController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tablaParametroController.next}" value="#{bundle.Next} #{tablaParametroController.pagination.pageSize}" rendered="#{tablaParametroController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tablaParametroController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTablaParametroTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTablaParametroTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tablaParametroController.prepareView}" value="#{bundle.ListTablaParametroViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tablaParametroController.prepareEdit}" value="#{bundle.ListTablaParametroEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tablaParametroController.destroy}" value="#{bundle.ListTablaParametroDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tablaParametroController.prepareCreate}" value="#{bundle.ListTablaParametroCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTablaParametroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
