<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTablaParametroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTablaParametroLabel_id}"/>
                    <h:outputText value="#{tablaParametroController.selected.id}" title="#{bundle.ViewTablaParametroTitle_id}"/>
                    <h:outputText value="#{bundle.ViewTablaParametroLabel_nombre}"/>
                    <h:outputText value="#{tablaParametroController.selected.nombre}" title="#{bundle.ViewTablaParametroTitle_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tablaParametroController.destroyAndView}" value="#{bundle.ViewTablaParametroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTablaParametroEditLink}"/>
                <br />
                <h:commandLink action="#{tablaParametroController.prepareCreate}" value="#{bundle.ViewTablaParametroCreateLink}" />
                <br />
                <h:commandLink action="#{tablaParametroController.prepareList}" value="#{bundle.ViewTablaParametroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTablaParametroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
